<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple handlebars example</title>
    <style>
        main {
            color: red;
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>