table {
    border-collapse: collapse;
    margin: auto;
}

tr {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

th, td {
    padding: 5px;
}

th:first-child, td:first-child {
    border-right: 1px solid gray;
}

