{{#if (equals status "success_add")}}
    <p>Todo item was successfully added</p>
{{/if}}

{{#if (equals status "failed_add")}}
    <p>Failed to add a new ToDo item. Check the form and try again.</p>
{{/if}}

<br>
<p><a href="/">Home</a></p>